.about__wrapper {
  .container();
  padding: 0 30px;
  background-color: @color-bg;
}

.about__title {
  .text(25px, 30px, @color-title, bold);
  margin-top: 31px;
}

.about__list {
  .text(17px; 20px; @color-title; bold);
  .ul();
}

.about__item {
  margin-top: 83px;
  position: relative;

  &::before {
    .pseudo();
    top: -45px;
    width: 35px;
    height: 35px;
  }
}

@media (min-width: @tablet-width) {
  .about__wrapper {
    padding: 0;
  }

  .about__title {
    .text(43px; 50px; @color-title; bold);
    margin-bottom: 10px;
  }

  .about__list {
    .text(20px; 22px; @color-title; bold);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__item {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    padding: 50px 225px;
  }

  .about__title {
    .text(53px; 57px; @color-title; bold);
  }
}
