.category {
  width: 100%;
  background-color: @color-bg2;
}

.category__title-wrapper {
  .container();
  padding: 72px 30px 120px 30px;
  background: @color-bg2 url("../img/background.jpg") no-repeat 50% -20%;
  background-size: 185%;
}

.category__wrapper {
  .container();
}

.category__link {
  .text(19px; 24px; @color-bg; bold);
  display: block;
  background-color: @color-main;
  padding: 24px 0 31px 30px;

  &--toy {
    background-color: @color-toy;
  }

  .category__item {
    width: 130px;
  }
}
