.copyright {
  padding: 30px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 0 0 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 105px;
  }
}

.copyright__link {
  .text(19px, 18px, @color-title, bold);
}
