.logo-block {
  @media (min-width: @tablet-width) {
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.logo-block--tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .logo-block--tablet {
    display: block;
  }
}
