.making__wrapper {
  .container();
  padding: 30px 30px 0 30px;
}

.making__wrapper-second {
  border: 1px solid @color-border2;
}

.making__title-wrapper {
  padding: 0 30px;
}

.making__title {
  .text(17px; 24px; @color-title; bold);
  padding-left: 65px;
  position: relative;

  &::before {
    .pseudo();
    width: 32px;
    height: 32px;
    left: 0;
  }
}

.making__video-wrapper {
  position: relative;
}

.making__video-wrapper img {
  display: block;
}

.making__play-button {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 91px;
  height: 71px;
  background-color: transparent;
}

.making__info {
  .text(13px; 24px; @color-text; normal);
  padding: 30px;
}

.making__button {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .making__wrapper {
    padding: 30px 50px 0 50px;
  }

  .making__wrapper-second {
    display: flex;
    flex-direction: column;
  }

  .making__title-wrapper {
    margin-top: 27px;
  }

  .making__title {
    .text(20px; 24px; @color-title; bold);
  }

  .making__video-wrapper {
    flex-grow: 1;
    min-height: 455px;
    order: -1;
  }

  .making__info {
    .text(15px; 30px; @color-text; normal);
  }
}

@media (min-width: @desktop-width) {
  .making__wrapper-second {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 80%;
  }

  .making__video-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .making__title-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .making__info {
    margin-left: 65px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
