.making__wrapper {
  padding: 0 30px 0 30px;
  margin-top: 30px;
  margin-bottom: 58px;
  min-width: 320px;
}

.making__wrapper-second {
  border: 1px solid @color-border2;
  padding: 8px 0 33px 0;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(@color-title, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@color-title, 0.1);
  }
}

.making__title-wrapper {
  padding: 0 30px;
}

.making__title {
  .text(17px; 24px; @color-title; bold);
  padding-left: 60px;
  position: relative;

  &::before {
    .pseudo();
    width: 32px;
    height: 32px;
    left: 3.5px;
    top: 13px;
    background: url("../img/video.svg") no-repeat;

    @media (min-width: @tablet-width) {
      left: -4px;
      top: -3px;
    }

    @media (min-width: @desktop-width) {
      left: 60px;
      top: -50px;
    }
  }
}

.making__video-wrapper {
  position: relative;
  padding-top: 12px;
  background: @color-bg;
}

.making__video-wrapper img {
  display: block;
  width: 100%;
}

.making__play-button {
  margin: auto;
  position: absolute;
  top: 13px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 77px;
  background: url("../img/play.svg") no-repeat;
  background-size: cover;
  border: none;

  @media (min-width: @tablet-width) {
    top: 0;
  }

  &:hover {
    width: 120px;
    height: 92.4px;
  }

  &:active {
    width: 80px;
    height: 61.6px;
    opacity: 0.5;
  }
}

.making__info {
  .text(13px; 24px; @color-text; normal);
  padding: 23px 30px 0 33px;
}

.making__button {
  margin-top: 40px;
  margin-right: 4px;
}

@media (min-width: @tablet-width) {
  .making__wrapper {
    padding: 0 50px 0 50px;
    margin-top: 54px;
    margin-bottom: 65px;
  }

  .making__wrapper-second {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 45px;
    margin-bottom: 45px;
  }

  .making__title-wrapper {
    margin-top: 25px;
    padding-left: 45px;
  }

  .making__title {
    .text(20px; 24px; @color-title; bold);
  }

  .making__video-wrapper {
    padding-top: 0;
    flex-grow: 1;
    min-height: 455px;
    order: -1;
  }

  .making__info {
    .text(15px; 30px; @color-text; normal);
    padding: 7px 38px 0 39px;

    & p {
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .making {
    margin-top: 33px;
    margin-bottom: 102px;
  }

  .making__wrapper {
    .container();
  }

  .making__wrapper-second {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 37% 63%;
  }

  .making__video-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .making__title-wrapper {
    align-self: flex-end;
    padding: 50px 50px 8px 20px;
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .making__info {
    margin-left: 40px;
    padding-top: 2px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .making__button {
    margin: 51px 20px 0 0;
  }
}
