.nav__list {
  .ul();
}

.nav__item {
  padding: 28px 0  27px 76px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  background: @color-bg;

  &--desktop {
    display: none;
  }

  &--tablet {
    display: none;
  }
}

.nav__link {
  .text(17px, 24px, @color-title, bold);
}
