.order-form__fieldset {
  border: 0;
  position: relative;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
}

.order-form__legend {
  .text(17px; 16px; @color-main; bold);
  text-transform: uppercase;
  margin-bottom: 30px;

  &:not(.order-form__legend--email)::after {
    .pseudo();
    width: 200px;
    height: 1px;
    background-color: @color-main;
    right: 0;
    top: 8px;
  }
}

.order-form__legend--email::after {
  .pseudo();
  width: 182px;
  height: 1px;
  background-color: @color-main;
  right: 0;
  top: 8px;
}

.order-form__radio,
.order-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-form__label {
  .text(17px; 18px; @color-title; bold);
}

.order-form__label--radio {
  padding: 0 0 23px 60px;
}

.order-form__label--checkbox {
  padding: 0 0 43px 60px;
}

.order-form__text {
  .text(17px; 18px; @color-text; normal );
  border: 0;
  box-shadow: inset 0 -2px 0 @color-title;
  height: 52px;
  margin-bottom: 22px;

  &::placeholder {
    .text(17px; 18px; rgba(@color-title, 0.3); normal );
  }
}

.order-form__label--color:nth-last-of-type(1) {
  padding-bottom: 0;
}

.order-form__textarea {
  border: 2px solid @color-text;
  .text(17px; 18px; @color-text; normal );

  &::placeholder {
    .text(17px; 18px; rgba(@color-title, 0.3); normal );
    font-family: "Open Sans", "Arial", sans-serif;
    padding: 17px;
  }
}

.order-form__submit {
  .text(14px; 16px; @color-text; normal);
}

.order-form__buttton {
  .text(17px; 16px; @color-text; bold);
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  background-color: @color-bg;
  text-transform: uppercase;
  border: 2px solid @color-text;
  margin: 30px auto;
  padding: 18px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .order-form__fieldset {
    position: relative;
    .container();
    padding: 50px 0 50px 167px;
  }

  .order-form__fieldset-wrapper {
    width: 100%;
  }

  .order-form__fieldset-wrapper--gray {
    background-color: @color-main2;

    & .order-form__text {
      background-color: @color-main2;
    }
  }

  .order-form__fieldset--full-name {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    & .order-form__label {
      padding-right: 25px;
    }

    & .order-form__text {
      flex-grow: 1;
      width: 70%;
    }
  }

  .order-form__fieldset--color {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .order-form__fieldset--color label {
    min-width: 250px;
  }

  .order-form__legend {
    position: absolute;
    left: 0;

    &:not(.order-form__legend--email)::after {
      .pseudo();
      display: none;
    }
  }

  .order-form__legend--email::after {
    .pseudo();
    display: none;
  }

  .order-form__label {
    .text(19px; 18px; @color-title; bold);
  }

  .order-form__label--radio,
  .order-form__label--checkbox {
    padding: 0 0 43px;
  }

  .order-form__text::placeholder {
    .text(19px; 18px; rgba(@color-title, 0.3); normal );
  }

  .order-form__submit {
    display: flex;
    align-items: center;
    margin: 50px 0;
    .container();
  }

  .order-form__submit p {
    order: 2;
    .text(17px; 30px; @color-text; normal);
    text-align: right;
  }

  .order-form__buttton {
    margin: 0;
    margin-right: auto;
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__fieldset--full-name {
    & .order-form__text {
      width: 80%;
    }
  }

  .order-form__fieldset--color label {
    min-width: 250px;
  }
}
