.page-footer {
  background-color: @color-main2;
}

.page-footer__wrapper {
  .container();
  padding: 0 30px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 51px 50px 58px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 0 50px;
    min-height: 143px;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
  }
}
