.page-footer__wrapper {
  .container();
  padding: 0 30px;
  background-color: @color-main2;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}
