.social {
  position: relative;
  padding: 35px 0 35px 0;

  &::after {
    .pseudo();
    width: 260px;
    height: 1px;
    background-color: @color-border-footer;
    bottom: 0;
  }
}

.social__list {
  .ul();
}
