* {
  box-sizing: border-box;
}

body {
  color: @color-text;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  .text(27px; 30px; @color-title; bold);
  text-align: center;
}

h2 {
  .text(25px, 30px, @color-title, bold);
  margin-top: 31px;
}

button {
  border: none;
}

.btn {
  .text(18px; 20px; @color-text; bold);
  display: block;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @color-text;
}
